*.class
*.iml
target/
.idea/
.DS_Store

# Package Files #
*.jar
*.war
*.ear
.classpath
.project
.settings/org.eclipse.jdt.core.prefs

# Updating Ceiba
.history
.factorypath
.settings/
.vscode/
*.log
src/main/webapp/WEB-INF/datadir.location


# admin and debug logs
admin.log.*
debug.log.*
